{% extends "layouts/main.twig" %}
{% block content %}
    <div class="row">
        <ol class="breadcrumb">
            <li class="active">Home</li>
        </ol>
        <h1>Home</h1>

        <p>Hello</p>
    </div>
{% endblock %}